*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;

    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Myriad Pro', sans-serif;
    behavior: smooth;
}

.body.active {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #000;
}

input[type='text'] {
    font-family: 'Poppins', sans-serif;
}

input[type='text']:focus {
    outline: 1px solid rgba(0, 0, 0, .5);
}

.auto_container {
    /* width: calc(100% - 30px); */
    /* max-width: 1600px; */
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 70px;
}

:root {
    --text-color: #000;
    --theme-btn: #00A835;
    --theme-icon: #fff;
    --theme-bg: #fff;
}

[data-theme="dark"] {
    --text-color: #fff;
    --theme-btn: #fff;
    --theme-icon: #000;
    --theme-bg: #00A835;
}



/* Font
=================================================================== */

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
        url('../fonts/MyriadPro-Bold.eot') format('embedded-opentype'),
        url('../fonts/MyriadPro-Bold.woff') format('woff'),
        url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
        url('../fonts/MyriadPro-Regular.eot') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

ul {
    list-style-type: none;
}

li a {
    font-style: italic;
    color: blue;
    text-decoration: underline;
}

li {
    line-height: 1.6;
    font-size: 18px;
    margin: 15px 0;
    font-weight: 500;
    word-spacing: 1px;
}

ol {
    list-style-type: disc;
    padding-left: 20px;
}



/* Scrollbar 
======================== */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #CDCDCD;
    border-radius: 5px;
}



.privacy {
    padding: 50px 0;
    font-family: 'Poppins', sans-serif;
}

.privacy_title {
    line-height: 1.4;
    font-size: 24px;
    margin: 0 0 20px;
    font-weight: 700;
}

.link_text {
    text-align: center;

    text-decoration: underline;
    color: blue;
    font-style: italic;
}

.privacy_sub-title {
    font-weight: 600;
    font-size: 20px;
}



/* =======================================================
    New Index
========================================================= */


/* Preloader */

#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #d6d6d6;
}

@keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

@-webkit-keyframes wave {

    0%,
    100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(2);
    }
}

.wave-spread .loader {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wave-spread .loader>div {
    float: left;
    margin: 40% 2% 0 0;
    width: 4%;
    height: 16%;
    background-color: #00A933;
    animation: wave 1s cubic-bezier(0.85, 0.25, 0.37, 0.85) infinite;
}

.wave-spread .loader .line-1 {
    margin-left: 30%;
}

.wave-spread .loader .line-1,
.wave-spread .loader .line-5 {
    animation-delay: .4s;
}

.wave-spread .loader .line-2,
.wave-spread .loader .line-4 {
    animation-delay: .2s;
}

/* Pre-loader */

/* Index ===================== */

.title {
    color: #00A933;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.3;

    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #CED8D7;

    display: flex;
    justify-content: space-between;
}

.title a {
    text-decoration: none;
    color: #00A933;
    font-size: 22px;
    /* padding-left: 20px; */
}

.to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: inline-block;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .2s linear;
    -ms-transition: all .2s linear;
    -webkit-transition: all .2s linear;
}

.to-top img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
    pointer-events: none;
}

.to-top.fixed {
    opacity: 1;
    pointer-events: unset;
    animation: top-arrow .2s linear;
}

@keyframes top-arrow {
    0% {
        bottom: -20px;
    }

    100% {
        bottom: 50px;
    }
}

.new__header {
    padding: 15px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
}

.head__logo {
    width: 620px;
    height: auto;
}

.head__logo img {
    /* width: 100%; */
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.head__right {
    display: flex;
    align-items: center;
}

.new__lang {
    display: flex;
    align-items: center;
    margin-right: 30px;
    background: rgba(250, 250, 250, .6);
    padding: 10px;
    border-radius: 5px;
}

.lang__item {
    width: 26px;
    height: 20px;
    margin-right: 10px;
    /* border: 1px solid #fff; */
    /* border-radius: 5px; */
    /* padding: 5px; */
    /* background: #fff; */
    /* border-right: 1px solid rgba(0, 169, 51, .9); */
    border-right: 1px solid #FFF;
    padding-right: 10px;
}

.lang__item:last-child {
    border-right: none;
}

.lang__item:last-child {
    margin-right: 0;
    padding-right: 0;
}

.lang__item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.search__form {
    width: 260px;
}

.input__wrap {
    position: relative;
}

.input__wrap input {
    width: calc(100% - 60px);
    padding: 10px 40px 10px 20px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.input__wrap input::focus {
    border-radius: 5px;
}

.input__wrap input::placeholder {
    color: rgba(0, 0, 0, .5);
}

.input__magnify {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;

    width: 27px;
    height: 27px;

    cursor: pointer;

    border: none;
    background: transparent;
}

.input__magnify img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

/* Navs =================================== */

.new__navs {
    background: #00A933;
    padding: 20px 0;
}

.new__navs.fix {
    animation: fixedNav .2s linear;
}

@keyframes fixedNav {
    0% {
        top: -20px;
        opacity: 0.2;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

.navs__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__col {
    display: flex;
    align-items: center;
}

.nav__link {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 50px;
    transition: all .2s linear;
}

.nav__link:hover {
    color: rgba(250, 250, 250, .8);
}

.nav__link:last-child {
    margin-right: 0;
}

.nav__group {
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0 30px;
    position: relative;
    transition: all .2s linear;

    cursor: pointer;
}

.nav__group:hover {
    color: rgba(250, 250, 250, .8);
}

.nav__group:last-child {
    margin-right: 0;
}

.nav__group::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%);
    width: 3px;
    height: 22px;
    background: rgba(250, 250, 250, .5);
}

.nav__group:last-child::after {
    display: none;
}

.hidden__media {
    position: absolute;
    top: calc(100% + 20px);
    left: -50px;
    width: 400px;
    display: none;

    background: #fff;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(206, 216, 215, 1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(206, 216, 215, 1);
    box-shadow: 0px 0px 5px 1px rgba(206, 216, 215, 1);
}

.hidden__media.open {
    display: block;
    /* animation: drop .2s linear; */
    z-index: 2;
}

@keyframes drop {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes drop {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.link__media {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;

    padding: 30px;
    display: block;
}

.link__media:first-child {
    border-bottom: 1px solid rgba(0, 169, 51, .5);
}


.nav__icon {
    width: 22px;
    height: 20px;
    margin-right: 12px;
}

.nav__icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.nav__icon--green {
    width: 22px;
    height: 20px;
    margin-right: 12px;

    display: none;
}

.nav__icon--green img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.nav__group span {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.3;
}

.mob__lang {
    display: none;
}


.fix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;

    z-index: 50;
}



.new__hamburg {
    padding: 20px;
    position: relative;
    /* display: none; */
    background: #00A933;
    cursor: pointer;

    border: none;
    border-radius: 5px;
}

.new__hamburg:focus {
    outline: none;
}

.new__hamburg span {
    content: '';
    width: 15px;
    height: 2px;

    position: absolute;
    top: 19px;
    right: 9px;
    background: #fff;
}

.new__hamburg span::before {
    content: '';
    width: 20px;
    height: 2px;

    position: absolute;
    top: -7px;
    right: 0;
    background: #fff;
}

.new__hamburg span::after {
    content: '';
    width: 20px;
    height: 2px;

    position: absolute;
    top: 7px;
    right: 0;
    background: #fff;
}

.for__mobile {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;

}

.loupe {
    background: #00A933;
    /* padding: 11px 15px; */
    margin-right: 15px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.mobile__search {
    position: fixed;
    top: -200%;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 2000;
    padding-top: 50px;

    transition: all .4s linear;
}

.mobile__search.open {
    top: 0;
}

.mobile__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -ms-flex-direction: column;
}

.mobile__logo {
    width: 500px;
    margin-bottom: 50px;
    display: block;
}

.mobile__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.mobile_input__wrap {
    position: relative;
    width: 400px;
    display: flex;
}

.mobile_input__wrap input {
    width: calc(100% - 55px);
    padding: 15px 40px 15px 15px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.mobile_input__wrap input:focus {
    outline: 1px solid rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.mobile__magnify {
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);

    width: 27px;
    height: 27px;

    border: none;
    background: transparent;
}

.mobile__magnify img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.mobile__close {
    margin-left: 20px;
    position: relative;
}

.mobile__close::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 25px;
    height: 2px;
    background: rgb(255, 48, 48);
    transform: rotate(-45deg);
}

.mobile__close::after {
    content: '';
    position: absolute;
    top: 40%;
    left: 50%;
    width: 25px;
    height: 2px;
    background: rgb(255, 48, 48);
    transform: rotate(45deg);
}

/* .mobile__close img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
} */


table {
    border: 1px solid #000;
}

table td {
    border: 1px solid #000;
}



/* Navs end =================================== */

.new__intro {
    padding: 40px 0 25px;
}

.intro__inner {
    display: flex;
}

.event__vertical {
    width: calc(70% - 40px);
    margin-right: 40px;
}

.event__horizontal {
    width: calc(70% - 40px);
    margin-right: 40px;
}

.extra__news {
    width: 30%;
    display: flex;
}

.other__news {
    /* width: calc(50% - 15px); */
    width: 100%;
    /* margin: 0 15px; */
}

/* .new__intro .extra__news .other__news:first-child {
    display: none;
} */

.event__content {
    display: flex;
}

.event__photo {
    width: calc(50% - 15px);
    margin-right: 15px;


    height: 385px;
}

.event__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.event__horizontal .event__photo {
    width: 100%;
    margin-bottom: 30px;

    height: 385px;
}

.event__horizontal .event__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.event__info {
    width: calc(50% - 15px);
    margin-left: 15px;
}

.event__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    display: block;
}

.event__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin: 20px 0;
}

.event__end {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event__time {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(0, 0, 0, .5);
}

.event__link {
    color: #00A933;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.news__content {
    max-height: 400px;
    overflow-y: auto;
    padding-right: 15px;
}

.horizontal_news__content {
    max-height: 540px;
    overflow-y: auto;
    padding-right: 15px;
}

.content__item {
    margin-bottom: 30px;
}

.content__item:last-child {
    margin-bottom: 0;
}

.content__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    display: block;
}

.content__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    display: block;
}

.partners__title {
    color: #00A933;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
    display: block;
}

.theme {
    position: relative;
    background: var(--theme-bg);
    border-radius: 20px;
    padding: 10px 2px 10px 10px;
}

.theme.content__title {
    color: var(--text-color);
}

.theme_btn {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 5;
}

.theme_btn input {
    display: none;
}

.theme-label {
    display: block;
}

.theme-label span {
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;

    background: var(--theme-btn);
    padding: 10px;
    border-radius: 50%;
}

.theme-label span svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.theme-label span svg path {
    fill: var(--theme-icon);
}


.theme .content__title {
    color: var(--text-color);
}

.theme .content__text {
    color: var(--text-color);
}

.theme .left_date {
    color: var(--text-color);
}

.theme .left_title a {
    color: var(--text-color);
}

.theme .news_text {
    color: var(--text-color);
}

/* Universary ============================== */
.universary {
    margin-top: 30px;
}

.univer__wrap {
    display: flex;
}

.universary__emblem {
    width: 15%;

    display: none;
}

.universary__emblem img {
    width: 100%;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
}

.univer__content {
    display: flex;
    width: calc(100% - 0px);
    /* margin-left: 30px; */
}

.univer__item {
    width: calc(50% - 40px);
    margin: 0 20px;
    display: flex;
}

.univer__photo {
    width: calc(30% - 15px);
    margin-right: 15px;
}

.univer__photo img {
    width: 100%;
    height: auto;
    object-fit: contain;
    -o-object-fit: contain;
}

.univer__info {
    width: calc(70% - 15px);
    margin-left: 15px;
}

/* Second======= */

.second_content {
    display: flex;
    align-items: center;
    width: calc(100% - 0px);
}

.new_content_photo {
    width: 20%;
    /* height: 100%; */
}

.new_content_photo:first-child {
    margin-right: 20px;
}

.new_content_photo:last-child {
    margin-left: 20px;
}

.new_content_photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.new_univer_info {
    width: 100%;
    margin-left: 0;
}

/* Second======= */

.univer__time {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.univer__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
    display: block;
}


/* ====================================== */

.modal-photo {
    transition: all .1s linear;
}

.modal-photo.disable {
    pointer-events: none;
    opacity: 0;
    z-index: -110;
}

.modal_gal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    width: calc(100% - 40px);
    max-width: 1350px;
}

.modal_gal-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_gal-group .box {
    display: flex !important;
    flex-wrap: wrap;
    width: calc(100% - 60px);
}

.modal_gal-item {
    width: calc(25% - 14px);
    height: 180px;
    margin: 7px;
}

.modal_gal-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.fancybox-content {
    background: transparent;
}

.fancybox-thumbs {
    top: auto;
    width: calc(100% - 50px);
    max-width: 1000px;
    bottom: 0;
    right: unset !important;
    left: 50%;
    transform: translateX(-50%);
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: transparent;
}

.fancybox-show-thumbs .fancybox-inner {
    right: 0;
    bottom: 95px;
}

.fancybox-thumbs::-webkit-scrollbar {
    display: none;
}

.fancybox-thumbs__list a {
    opacity: .3;
    width: 170px;
    height: 140px;
    margin: 0 10px;
}

.fancybox-thumbs-active {
    opacity: 1 !important;
}

.fancybox-thumbs-active::before,
.fancybox-thumbs__list a:before,
.fancybox-infobar {
    display: none;
}

.fancybox-toolbar {
    right: unset;
    left: 0;
}

.fancybox-button--close svg {
    display: none !important;
}

.fancybox-button--close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: url("../images/slider-arrow.png") no-repeat center;
    background-size: contain;
    width: 90%;
    height: 90%;
}

.owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 50;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.owl-prev {
    /* display: none; */
    width: 30px;
    height: 30px;
    /* background-color: red !important; */
    opacity: 1 !important;
    left: -20px;
    position: relative;
}

.owl-prev::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background: url("../images/slider-arrow.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.owl-prev span {
    display: none !important;
}

.owl-next {
    width: 30px;
    height: 30px;
    /* background-color: red !important; */
    opacity: 1 !important;
    right: -20px;
    position: relative;
}

.owl-next span {
    display: none !important;
}

.owl-next::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(180deg) translate(50%, 50%);
    -webkit-transform: rotate(180deg) translate(50%, 50%);
    -moz-transform: rotate(180deg) translate(50%, 50%);
    -ms-transform: rotate(180deg) translate(50%, 50%);
    background: url("../images/slider-arrow.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 100%;
}






/* ====================================== */

/* Latest =========================== */
.latest {
    margin: 40px 0;
}

.latest_box {
    display: flex;
}

.latest_info {
    width: calc(70% - 40px);
    margin-left: 40px;
}

.latest .news__content {
    max-height: 1030px;
    padding-bottom: 25px;
    padding-right: 5px;
}

.latest .news__content::-webkit-scrollbar {
    width: 5px;
}

.latest .news__content::-webkit-scrollbar-track {
    background: var(--theme-bg);
}

.latest_item {
    margin-bottom: 25px;
    border: 1px solid #00A835;

    display: flex;
    /* align-items: center; */
    transition: .2s linear;
    width: 100%;
}

.latest_item:hover {
    border-color: transparent;
}

.latest_item:hover .latest_item-info {
    background: #F3F3F3;
}

/* .latest_item:hover .latest_item-title,
.latest_item:hover .latest_item-subtitle,
.latest_item:hover .latest_item-txt {
    color: #fff;
} */

.latest_item:hover .latest_item-photo img {
    transform: scale(1.1);
}

.latest_item-photo {
    width: 50%;
    height: 240px;
    overflow: hidden;
}

.latest_item-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: contain;
    transition: .2s linear;
}

.latest_item-info {
    width: calc(50% - 64px);
    padding: 0 24px 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .2s linear;
}

.latest_item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    color: #151515;
    transition: .1s linear;
    margin: 0;
}

.latest_item-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    margin: 8px 0 15px;
    color: #A4A4A4;
    transition: .1s linear;
}

.latest_item-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #A4A4A4;
    transition: .1s linear;
    margin: 0;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.latest_row {
    display: flex;
    margin-top: 40px;
    margin: 40px -20px 0 -20px;
}

.latest_row-item {
    display: block;
    margin: 0 20px;
    width: calc(33.33% - 40px);
}

.latest_row-item:nth-of-type(1n+4) {
    display: none;
}

.latest_row-item:hover .latest_row-item-photo img {
    transform: scale(1.1);
}

.latest_row-item:hover .latest_row-item-title {
    color: #00A835;
}

.latest_row-item-photo {
    width: 100%;
    max-height: 230px;
    margin-bottom: 15px;
    display: block;
    overflow: hidden;
}

.latest_row-item-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    transition: .2s linear;
}

.latest_row-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    transition: .2s linear;
}

.latest_row-item-title:hover {
    color: #00A835;
}


/* Latest end ======================= */

/* Media Part =========================== */
.media_part-box {
    display: flex;
    align-items: flex-start;
}

.media_photo {
    width: 70%;
    margin: 0 15px 0 -20px;

    display: flex;
    flex-wrap: wrap;
}

.media_info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    color: #fff;
    width: calc(100% - 48px);
}

.media_info::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0.04) 100%);
}

.media_info h6 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.media_photo-item {
    width: calc(50% - 40px);
    height: 320px;
    margin: 25px 20px;
    transition: .2s linear;
    position: relative;
}

.media_photo-item.big {
    width: calc(100% - 40px);
    height: 400px;
    margin: 0 20px 0;
}

.media_photo-item-pic {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.media_photo-item-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.media_video {
    width: 30%;
}

.media_video-item {
    margin-bottom: 20px;
    cursor: pointer;
    transition: .2s linear;

    width: 100%;
    height: 235px;
    display: block;
    position: relative;
}

.media_video-item:nth-of-type(1n+4) {
    display: none;
}

.media_video-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}

.media_video-item:last-child {
    margin-bottom: 10px;
}

/* Media Part end ======================= */

/* Modal ======================= */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    display: none;
}

.modal.active {
    display: block;
}

.modal_video.active {
    display: flex;
}

.modal.active .inner {
    top: 0;
}

.modal .inner {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%); */
    position: relative;
    top: 40px;
    transition: 2s linear;
}

.modal_video-item {
    width: 90%;
    max-width: 1100px;
    height: 90%;
    margin: auto;
}

.modal_video-item video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


/* Modal end ======================= */

/* Weekly page ======================================================== */
.week_form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.week_col {
    position: relative;
}

.week_col:last-child {
    display: flex;
    align-items: center;
}


.magazines {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: 0 -30px;
}

.magazine_item {
    width: calc(20% - 60px);
    margin: 25px 30px;
}

.magazine_photo {
    width: 100%;
    /* height: 335px; */
}

.magazine_photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.magazine_date {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    margin: 20px 0 10px;
}

.magazine_btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    color: #00A933;
}

/*  */

/* Reset Select */
.select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #000;
    background: #fff;
    background-image: none;
    padding: 10px 40px 10px 20px;

}

/* Remove IE arrow */
.select select::-ms-expand {
    display: none;
}

.select select option:first-child {
    display: none;
}

/* Custom Select */
.select {
    position: relative;
    /* display: flex; */
    width: auto;
    line-height: 3;
    background: #FFF;
    /* overflow: hidden; */
}

.select select {
    color: #000;
    cursor: pointer;
}

/* Arrow */
.select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-70%);
    width: 15px;
    height: 15px;
    -webkit-clip-path: polygon(100% 50%, 0 50%, 50% 100%);
    clip-path: polygon(100% 50%, 0 50%, 50% 100%);
    background: rgba(0, 0, 0, .4);
    pointer-events: none;
}

.select_month {
    margin-right: 30px;
}

/*  */

/* Weekly page end ======================================================== */

/* Recent News ============================  */
.recent {
    margin: 40px 0;
}

.recent__inner {
    display: flex;
}

.recent__col {
    width: calc(50% - 40px);
}

.recent__inner .recent__col:first-child {
    margin-right: 40px;
}

.recent__inner .recent__col:last-child {
    margin-left: 40px;
}

.recent__item {
    display: flex;
    margin-bottom: 60px;
}

.recent__item:last-child {
    margin-bottom: 0;
}

.recent__photo {
    width: 140px;
    height: 140px;
}

.recent__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.recent__info {
    width: calc(100% - 170px);
    margin-left: 30px;
}

.recent__time {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.recent__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
}

/* Advert ============================= */

.advert {
    margin: 50px 0;
}

.advert__photo {
    width: 100%;
    /* height: 200px; */
}

.advert__photo img {
    width: 100%;
    /* height: 100%;
    object-fit: cover;
    -o-object-fit: cover; */
}

/* Banner ============================= */

.new__banner {
    margin: 50px 0;
}

.banner__photo {
    width: 100%;
    /* height: 145px; */
    position: relative;
}

.banner__photo img {
    width: 100%;
}

.banner_box {
    display: flex;
    margin: 0 -25px;
}

.banner_box .banner__photo {
    width: calc(50% - 50px);
    margin: 0 25px;
}

.banner_box .banner__photo:first-child::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    width: 1px;
    height: 90%;
    background: #A4A4A4;
}

/* Colleag =========================== */
.colleag {
    margin: 40px 0;
}

.colleag_slider {
    padding: 24px 5px;
}

.colleag_slider-item {
    display: flex !important;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}

.colleag_slider-item-img {
    width: 90px;
    height: 60px;
    margin-bottom: 8px;
    display: block;
}

.colleag_slider-item-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.colleag_slider-item-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
}

/* Colleag end ======================= */


/* New Index end ========================================================= */


/*Channel*/
.channel {
    background-color: #F9F9F9;
    /* margin: 70px 0; */
    padding: 45px 0;
    width: 100%;
    border: 1px solid #CED8D7;
}

.chanel__items {
    display: flex;
}

.items {
    flex: 1 1 0;
    border-right: 1px solid #D2D2D2;
    height: 100%;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items:last-child {
    border-right: none;
}

.chan__pic1 {
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-mini {
    width: 70px;
    height: 40px;
}

.chan__pic1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}


/* Media
====================== */
.media {
    display: flex;
    width: 100%;
    margin-top: 70px;
}

.photo {
    width: calc(50% - 20px);
    margin-right: 20px;
}

.video {
    width: calc(50% - 20px);
    margin-left: 20px;
}

.gallery {
    display: flex;
}

.item {
    margin-right: 40px;
    text-align: center;
    max-width: calc(50% - 20px);
}

.item_img {
    width: 100%;
    max-width: calc(100% - 0px);
    height: 220px;

    /* border: 1px solid #CED8D7; */
    /* padding: 15px; */

    position: relative;
    transition: all .5s;
    -moz-transition: all .5s;
}

.item_img:after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    /* padding: 15px; */
    /* margin: 15px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    background-color: rgba(0, 169, 51, .5);
    z-index: 2;
    opacity: 0;
    transition: all .5s;
    -moz-transition: all .5s;
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

.item_img:hover::after {
    opacity: 1;
}

.views {
    display: none !important;
}

.item_img:hover .photo_view,
.item_img:hover .video_view {
    opacity: 1;
}

.item_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.item:last-child {
    margin-right: 0;
    max-width: calc(50% - 20px);
}

.item_text {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    min-height: 20px;
}

.item_date {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #CED8D7;
}

/* Foreign News
===================================================== */
.foreign {
    padding: 40px 0;
}

.foreign__box {
    display: flex;
    justify-content: space-between;
}

.foreign__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 15px !important;
}

.foreign__item:last-child {
    margin-right: 0;
}

.foreign__photo {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 126px; */
    height: auto;
    margin-bottom: 15px;

    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.foreign__photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    -o-object-fit: contain;
}

.foreign__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
}


/* Footer 
=========================== */
footer {
    padding: 20px 0;
    overflow: hidden;
}

.footer.nav__icon {
    display: none;
}

.footer .nav__icon--green {
    display: block;
}

.footer .nav__group {
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0 0 -20px;

}

.footer .nav__group span {
    color: #00A933;
}

.foot_logo {
    display: flex;
    justify-content: center;
    position: relative;
}

.foot_logo a {
    z-index: 10;
    background-color: #fff;
}

.foot_logo:before {
    content: '';
    width: 42%;
    height: 3px;
    margin-right: 30px;

    background: #00A933;

    position: absolute;
    top: 50%;
    left: 0;
}

.foot_logo:after {
    content: '';
    width: 42%;
    height: 3px;
    margin-left: 30px;

    background: #00A933;

    position: absolute;
    top: 50%;
    right: 0;
}

.new__contact {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 30px 0;
}

.new_address {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.new_info {
    display: flex;
    align-items: center;
}

.new_info .address_name {
    margin: 0 5px 0 10px;
}

.new_info .address_num {
    font-size: 16px;
}



.foot_text {
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 20px;
}

/* Media Query
============================================= */
@media(max-width: 1600px) {
    .nav__group {
        font-size: 18px;
        margin: 0 20px;
    }

    .nav__group::after {
        right: -23px;
    }

    .nav__link {
        font-size: 18px;
        margin-right: 30px;
    }
}

@media(max-width: 1350px) {
    .new__header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* height: 100%; */
        border-bottom: 5px solid #00A933;
        background: #fff;
        z-index: 50;
    }

    .header__inner {
        align-items: unset;
    }

    .new__navs.fix {
        background: #fff;
    }

    .head__logo img {
        width: 100%;

    }

    .new__intro {
        padding-top: 150px;
    }

    .new__hamburg {
        display: block;
        position: relative;
    }

    .navs__back {
        position: fixed;
        top: 0;
        right: -200%;

        width: 100%;
        height: 100%;
        background: rgba(250, 250, 250, .1);
        backdrop-filter: blur(60px);
        z-index: 300;
        transition: all .2s linear;
    }

    .navs__back.open {
        right: 0;
    }

    .navs__inner {
        display: block;
        background: #e7e7e7;

        position: fixed;
        top: 0;
        right: -200%;
        width: 40%;
        height: 100%;

        display: flex;
        align-items: unset;
        justify-content: unset;
        flex-direction: column;
        -ms-flex-direction: column;
        z-index: 400;
        transition: all .3s linear;
    }

    .navs__inner.open {
        right: 0;
    }

    .nav__col {
        display: block;
    }

    .nav__link {
        color: #000;
        display: block;

        margin-right: 0;
        padding: 20px 10px 20px 40px;
        border-bottom: 1px solid #00A933;
    }

    .nav__link:hover {
        color: #000;
    }

    .nav__group:hover {
        color: #000;
    }

    .nav__group {
        color: #000;

        margin: 0;
        padding: 20px 10px 20px 40px;
        border-bottom: 1px solid #00A933;
    }

    .nav__group::after {
        display: none;
    }

    .nav__icon--green {
        display: block;
    }

    .nav__icon {
        display: none;
    }

    .head__right {
        display: none;
    }

    .new__navs {
        padding: 5px 0;
    }

    .for__mobile {
        display: flex;
    }

    .mob__lang {
        display: block;
        padding: 20px 10px 20px 40px;
    }

    .hidden__media {
        top: 100%;
        left: 0;
        width: 100%;
    }

    /* Media Part ==================== */


    /* Media Part end =============== */
}

@media(max-width: 1300px) {
    .auto_container {
        padding: 0 40px;
    }

    /* .intro__inner .other__news:last-child {
        display: none;
    } */

    .event__vertical {
        width: calc(70% - 15px);
        margin-right: 15px;
    }

    .extra__news {
        width: 30%;
    }

    .other__news {
        width: calc(100% - 15px);
        margin: 0 0 0 15px;
    }

    .event__horizontal {
        width: calc(80% - 15px);
        margin-right: 15px;
    }

    .univer__photo {
        width: calc(40% - 15px);
        margin-right: 15px;
    }

    .univer__info {
        width: calc(60% - 15px);
        margin-left: 15px;
    }

    /*     .univer__text {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

    .head__logo {
        width: 550px;
    }

    /* Latest ====================== */
    .latest .extra__news {
        width: 40%;
    }

    .latest_info {
        width: calc(60% - 25px);
        margin-left: 25px;
    }

    .latest_item-photo {
        height: 200px;
    }

    .latest_item-title {
        font-size: 20px;
    }

    .latest_item-subtitle {
        margin-bottom: 10px;
    }

    .latest .news__content {
        max-height: 880px;
    }

    /* Latest end ================== */
}

@media(max-width: 1200px) {

    /* Magazine Page ===================== */
    .magazine_item {
        width: calc(25% - 40px);
        margin: 25px 20px;
    }

    /* Media Part ======================== */
    .media_part-box {
        align-items: flex-start;
    }

    .media_photo {
        margin-right: 0;
    }

    .media_photo-item.big {
        max-height: 360px;
    }

    /* Media Part end ==================== */
}

@media(max-width: 1100px) {
    .universary__emblem {
        display: none;
    }

    .univer__content {
        width: 100%;
        margin-left: 0;
    }

    /* New Intro ======================= */
    .intro__inner {
        display: block;
    }

    .event__vertical {
        width: 100%;
        margin-right: 0;
    }

    .extra__news {
        width: 100%;
        margin-top: 35px;
    }

    .event__horizontal {
        width: 100%;
        margin-right: 0;
    }

    .new__intro .other__news {
        margin-left: 0;
        width: 100%;
    }

    /* .new__intro .extra__news .other__news:first-child {
        display: block;
    } */

    /* New Intro end =================== */

    /* Latest =================================== */
    /* .latest .extra__news {
        display: none;
    } */

    .latest_box {
        flex-direction: column;
    }

    .latest .other__news {
        margin: 0 0 25px 0;

    }

    .latest .extra__news {
        width: 100%;
        margin-top: 0;
    }

    .latest_info {
        width: 100%;
        margin-left: 0;
    }

    .latest_item-photo {
        max-width: 350px;
        height: 220px;
    }

    .latest_item-info {
        width: calc(100% - 414px);
    }

    .latest_row {
        margin: 30px -10px 0;
    }

    .latest_row-item {
        margin: 0 10px;
        width: calc(33.33% - 20px);
    }

    .latest_row-item-title {
        font-size: 17px;
    }

    .latest .news__content {
        overflow: auto;
    }

    /* Latest end =============================== */

    .news__content,
    .horizontal_news__content {
        max-height: unset;
        overflow: unset;
    }
}

@media(max-width: 1050px) {
    .navs__inner {
        width: 60%;
    }

    .intro__inner {
        flex-direction: column;
    }

    .event__vertical {
        width: 100%;
        margin-right: 0;
    }

    .extra__news {
        width: 100%;
        margin-top: 80px;
    }

    .other__news {
        width: calc(100% - 15px);
        margin: 0 0 0 15px;
    }

    .intro__inner .other__news:last-child {
        display: unset;
    }

    .event__horizontal {
        width: 100%;
        margin-right: 0;
    }

    .univer__text,
    .univer__time,
    .recent__text,
    .recent__time {
        font-size: 18px;
    }

    .univer__info {
        width: calc(60% - 15px);
    }

    .univer__photo {
        width: calc(40% - 15px);
    }



    .Media {
        display: none;
    }

    .Channel {
        display: none;
    }

    /* Magazine Page ===================== */
    .magazines {
        margin: 0 -20px;
    }

    .magazine_item {
        width: calc(33.33% - 40px);
        margin: 25px 20px;
    }

    /* Media Part ===================== */
    .media_part-box {
        flex-direction: column;
        align-items: unset;
    }

    .media_photo {
        width: 100%;
        margin: 0 -5px;
    }

    .media_photo-item {
        margin: 0 5px 10px;
        width: calc(50% - 10px);
    }

    .media_photo-item.big {
        margin: 0 5px 10px;
        width: calc(100% - 10px);
    }

    .media_video {
        width: 100%;
        display: flex;
        margin: 0 -5px;
    }

    .media_video-item {
        width: calc(33.33% - 10px);
        margin: 0 5px;
    }

    .media_video-item:last-child {
        margin-bottom: 0;
    }

    /* Media Part end ================= */

    /* Modal ============================ */
    .modal_gal-item {
        width: calc(33.33% - 14px);
    }

    .box .modal_gal-item:nth-last-child(-n+3) {
        display: none;
    }

    /* Modal end ======================== */
}

@media(max-width: 900px) {
    .head__logo {
        width: 450px;
    }

    .new__intro {
        padding: 130px 0 25px;
    }

    .univer__content,
    .recent__inner {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .univer__item {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .recent__col {
        width: 100%;
    }

    .recent__inner .recent__col:first-child {
        margin-right: 0;
        margin-bottom: 70px;
    }

    .recent__inner .recent__col:last-child {
        margin-left: 0;
    }

    .univer__info {
        width: calc(100% - 130px);
        margin-left: 30px;
    }

    .univer__photo {
        width: 120px;
        height: 120px;
    }

    .univer__text,
    .univer__time,
    .recent__text,
    .recent__time {
        font-size: 16px;
    }

    .mobile__logo {
        width: 400px;
        margin-bottom: 40px;
    }

    .mobile_input__wrap {
        width: 300px;
    }

    .mobile__close {
        margin-left: 10px;
    }

    /* Latest =================== */
    .latest_item-photo {
        height: 200px;
        max-width: 300px;
    }

    .latest_item-info {
        width: calc(100% - 364px);
    }

    .latest_row {
        flex-wrap: wrap;
    }

    .latest_row-item {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }

    .latest_row-item:nth-of-type(1n+5) {
        display: none;
    }

    .latest_row-item:nth-of-type(1n+4) {
        display: block;
    }

    .media_video-item:nth-of-type(1n+4) {
        display: block;
    }

    .media_video-item:nth-of-type(1n+5) {
        display: none;
    }

    .latest_row {
        flex-wrap: wrap;
    }

    /* Latest end =============== */

    /* Media Part =================== */
    .media_video {
        flex-wrap: wrap;
    }

    .media_video-item {
        width: calc(50% - 10px);
        margin-bottom: 10px;
    }

    .media_video-item:last-child {
        margin-bottom: 10px;
    }

    /* Media Part end =============== */


}

@media (max-width: 800px) {
    .modal_gal-item {
        height: 135px;
    }
}

@media(max-width: 700px) {
    .auto_container {
        padding: 0 15px;
    }

    .navs__inner {
        width: 80%;
    }

    .head__logo {
        width: 380px;
    }

    .intro__inner .other__news:last-child {
        display: none;
    }

    .event__horizontal .event__photo {
        height: 320px
    }

    .other__news {
        width: 100%;
        margin: 0;
    }

    .event__content {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .event__photo {
        width: 100%;
        margin: 0 0 30px;
    }

    .event__info {
        width: 100%;
        margin: 0;
    }

    .new__contact {
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .new_address {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .new_address:last-child {
        margin-bottom: 0;
    }

    /* Media Part ===================== */
    .media_part {
        display: none;
    }

    .mobile-bn {
        display: none;
    }

    .new__banner {
        margin: 30px 0;
    }

    .media_photo-item {
        height: 240px;
    }

    /* Media Part end ================ */

    /* Latest ==================== */
    .latest_item-photo {
        max-width: 250px;
        height: 160px;
    }

    .latest_item-info {
        width: calc(100% - 335px);
        padding: 0 15px 0 20px;
    }

    /* Latest end ================ */


    /* Banner ==================== */
    .banner_box {
        flex-direction: column;
        margin: 0;
    }

    .banner_box .banner__photo {
        margin: 0 0 10px;
        width: 100%;
    }

    .banner_box .banner__photo:first-child::after {
        display: none;
    }

    /* Banner end ================ */


}

@media(max-width: 600px) {
    .to-top {
        bottom: 40px;
        right: 20px;
    }

    /* Latest ================== */
    .latest_item {
        flex-direction: column;
        align-items: center;
        border: none;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 15px;
        border-bottom: 2px solid #00A835;
    }

    .latest_item:hover .latest_item-info {
        background: none;
    }

    .latest_item:hover .latest_item-title,
    .latest_item:hover .latest_item-subtitle,
    .latest_item:hover .latest_item-txt {
        color: inherit;
    }

    .latest_item-photo {
        max-width: 100%;
        width: 100%;
        height: 230px;
        background: rgba(130, 130, 130, .1);
    }

    .latest_item-photo img {
        object-fit: contain;
        -o-object-fit: contain;
    }

    .latest_item-info {
        width: 100%;
        padding: 0;
        margin-top: 15px;
    }

    .latest_row {
        margin: 30px 0 0;
    }

    .latest_row-item {
        width: 100%;
        margin: 0 0 20px 0;
    }

    .latest_row-item-photo {
        background: rgba(130, 130, 130, .1);
        height: 230px;
    }

    .latest_row-item-photo img {
        object-fit: contain;
        -o-object-fit: contain;
    }

    /* Latest end ============== */
}

@media(max-width: 520px) {

    /* Magazine Page ===================== */
    .magazines {
        margin: 0 -20px;
    }

    .magazine_item {
        width: calc(50% - 40px);
        margin: 25px 20px;
    }

    .event__horizontal .event__photo {
        height: 270px
    }

    .media_photo-item,
    .media_video-item {
        width: calc(100% - 10px);
    }

    .box .modal_gal-item:nth-last-child(-n+3) {
        display: none;
    }

}

@media(max-width: 500px) {
    .head__logo {
        width: 320px;
    }

    .new__intro {
        padding: 105px 0 25px;
    }

    .recent__photo {
        width: 80px;
        height: 80px;
    }

    .recent__info {
        width: calc(100% - 110px);
    }

    .recent__text {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .loupe {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .new__hamburg {
        padding: 15px;
    }

    .new__hamburg span {
        width: 10px;
        top: 15px;
        right: 5px;
    }

    .new__hamburg span::before {
        width: 15px;
    }

    .new__hamburg span::after {
        width: 15px;
    }

    .univer__info {
        width: calc(100% - 120px);
        margin-left: 20px;
    }

    .mobile__logo {
        width: 300px;
        margin-bottom: 20px;
    }

    .mobile_input__wrap {
        width: 250px;
    }
}

@media(max-width: 400px) {
    .event__horizontal .event__photo {
        height: 200px;
    }

    /* Latest ============== */
    .latest_item-photo {
        height: 180px;
        background: none;
    }

    .latest_row-item-photo {
        height: 180px;
        background: none;
    }

    /* Latest end ========== */
}

@media(max-width: 370px) {

    /* Magazine Page ===================== */
    .magazine_item {
        width: calc(100% - 0px);
        margin: 25px 0;
    }

    .magazines {
        margin: 0;
    }

    .week_form {
        flex-direction: column;
        -ms-flex-direction: column;
        align-items: flex-start;
    }

    .week_col:last-child {
        margin-top: 20px;
    }
}